#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  twenty-redis.service
BindsTo=twenty.service
After=twenty.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/twenty-redis.pid %t/twenty-redis.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/twenty-redis.pid \
    --cidfile %t/twenty-redis.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/twenty.pod-id --replace -d --name  twenty-redis \
    --volume twenty-redis:/data:Z \
    ${REDIS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/twenty-redis.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP twenty-redis
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/twenty-redis.ctr-id
PIDFile=%t/twenty-redis.pid
Type=forking

[Install]
WantedBy=default.target
