#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  twenty-worker.service
BindsTo=twenty.service
After=twenty.service postgresql-app.service twenty-redis.service twenty-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/twenty-worker.pid %t/twenty-worker.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/twenty-worker.pid \
    --cidfile %t/twenty-worker.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/twenty.pod-id --replace -d --name  twenty-worker \
    --volume twenty-worker:/app/docker-data:Z \
    --env NODE_PORT=3000 \
    --env SERVER_URL=https://${TRAEFIK_HOST} \
    --env PG_DATABASE_URL="postgresql://postgres:Nethesis,1234@postgresql-app:5432/twenty" \
    --env REDIS_URL="redis://twenty-redis:6379" \
    --env APP_SECRET=${APP_SECRET} \
    --env DISABLE_DB_MIGRATIONS=true \
    --env DISABLE_CRON_JOBS_REGISTRATION=true \
    --env NODE_ENV=production \
    --env LOG_LEVEL=info \
    --env STORAGE_TYPE=local \
    ${TWENTY_IMAGE} yarn worker:prod
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/twenty-worker.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP twenty-worker
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/twenty-worker.ctr-id
PIDFile=%t/twenty-worker.pid
Type=forking

[Install]
WantedBy=default.target
